<p><%= link_to portfolio_item.title, portfolio_path(portfolio_item) %></p>
<p><%= portfolio_item.subtitle %></p>
<%= portfolio_item.body %></p>
<% if !portfolio_item.thumb_image.nil? %>
<%= image_tag portfolio_item.thumb_image %>
<% end %>   
<div class="d-flex my-1">
<%= link_to "Edit",edit_portfolio_path(portfolio_item), class:"btn btn-primary me-2"%>
<%= button_to "Delete", portfolio_path(portfolio_item), method: :delete,onclick:"return confirmDelete();",
     class:"btn btn-danger"%>
</div>  
<script>
  let confirmDelete=()=>{
    const confirmMessage = "Are you sure?"
    if(confirm(confirmMessage)){
      return true;
    }
    return false;
  }
</script>